.login {
    @include vendor('transition', (
			'transform #{_duration(menu)} ease',
			'opacity #{_duration(menu)} ease',
			'visibility #{_duration(menu)}'
		));
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');
		@include vendor('justify-content', 'center');
        @include vendor('pointer-events', 'none');
        -webkit-overflow-scrolling: touch;
		box-shadow: none;
        width: 24em;
        max-width:100%;
        opacity: 0;
        position: fixed;
        overflow: hidden;
        flex-flow: column;
		padding: 3em 2em;
		visibility: hidden;
        text-align: center;

        > :first-child {
            margin-top: _size(element-margin);
        }

        > :last-child {
            margin-bottom: (_size(element-margin) * 1.5);
        }

       .login-title {
        line-height: 60px;
           height:52px;
           font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 1em;
            color:rgb(0, 0, 0);
            border-bottom:2px solid rgb(133, 133, 133);
            width: 90%;

       }
        .login-form {
            width:100%;
            margin-bottom: 0!important;

            input {
                width: 100%;
                opacity: 1;
                margin-bottom:.5em;
                line-height: 52px;
                    height:52px;
                    text-transform: uppercase;
                
                &[type="text"], &[type="password"], &[type="email"] {
                    text-decoration-color: _palette(accent4);
                    background-color: rgba(0,0,0,.2)!important;
                    text-align: center;
                    box-shadow: inset 0 0 0 2px rgba(0,0,0,1); 
                    
        
                    &::-webkit-input-placeholder {
                        color: rgba(0,0,0,1)!important;
                        opacity: 1;
                    }
                }
                &[type="submit"] {
                    &:active, &:hover {
                        color: _palette(accent4);
                    }
        
        
                    &:hover {
                        box-shadow: inset 0 0 0 2px _palette(accent4);
                        background: _palette(border-bg)!important;
                    }
                }
            }
            }
           
        ul {
            margin:2em 0 0 0!important;
            width:100%;;

            &.links {
                list-style: none;
                padding: 0;
    
                > li {
                    padding: 0;
                    width: 100%;

                    a.disabled {
                        color:rgba(0,0,0,1);
                        font-size:1em!important;

                    }
    
                    > a:not(.button) {
                        border: 0;
                        border-top: solid 1px _palette(border);
                        display: block;
                        font-size: 0.8em;
                        font-weight: _font(weight-bold);
                        letter-spacing: _font(letter-spacing-alt);
                        line-height: 3.5em;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
    
                    > .button {
                        display: block;
                        margin: 0.5em 0 0 0;
                        line-height: 3.7em;
                        height:3.7em;
                    }
    
                    &:first-child {
                        > a:not(.button) {
                            border-top: 0 !important;
                        }
                    }
                }
            }
        }
        }
       

   
.body.is-menu-visible.is-login-visible #menu {
    .inner {
        opacity: 0;
        visibility: hidden;
    }
    .login {
        @include vendor('pointer-events', 'auto');
        @include vendor('transform', 'none');
		opacity: 1;
		visibility: visible;
    }
}